ion-header,
ion-toolbar {
  background: transparent;
  --background: transparent;
}

ion-header {
  justify-content: space-between !important;
  display: flex;
  align-items: center;
  margin-top: 1vh;
  padding: 8px 8px 0;

  .header-logo {
    margin-left: 12px;
    width: 86px;
  }
}

.skip-onboarding {
  height: 36px;
  font-size: 14px;
  font-weight: 700;
  --color: var(--ion-color-primary);
}

ion-content {
  display: contents;
}
