<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="veg-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>notificações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let notification of notifications" lines="none" class="notification-item">
      <ion-avatar slot="start">
        <img [src]="'../assets/images/' + (notification.cited_user_image || 'default-user.png')"
          (click)="openUserProfile(notification.cited_user_id)">
      </ion-avatar>
      <ion-label>
        <h3 class="notification-title">{{notification.title}}</h3>
        <p class="notification-description">{{notification.description}}</p>
        <h5 class="notification-time">{{ getTimeDifference(notification.date) }}</h5>
      </ion-label>

      <ion-buttons slot="end" *ngIf="notification.type === 'follower'">
        <ion-button shape="round" color="primary" class="follow-user-button" fill="solid"
          (click)="followUser(notification)">
          seguir
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
