<ion-header>
  <ion-toolbar>
    <ion-title>eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-searchbar #eventsSearchbar placeholder="buscar eventos" class="custom-searchbar"
    (ionInput)="filterList($event)" search-icon="veg-search"></ion-searchbar>

  <ion-card *ngFor="let event of filteredEvents">
    <div (click)="openEvent(event)">
      <ion-card-header class="ion-no-padding">

        <div class="event-buttons-container">
          <ion-button shape="round" size="small" fill="solid" color="secondary" class="event-buttons"
            (click)="openShare($event)">
            <ion-icon slot="icon-only" name="share-social-outline" color="primary"></ion-icon>
          </ion-button>

          <ion-button shape="round" size="small" fill="solid" color="secondary" class="event-buttons"
            (click)="presentEventActions($event, event)">
            <ion-icon slot="icon-only" name="ellipsis-vertical" color="primary"></ion-icon>
          </ion-button>
        </div>

        <img src="../assets/images/{{event.image ? event.image : 'slider-default.jpeg'}}">
      </ion-card-header>

      <ion-card-content>
        <h3 class="event-title">{{ event?.title }}</h3>

        <ion-row class="event-info">
          <ion-col size="auto">
            <ion-icon name="location-outline"></ion-icon>
            <ion-label>
              <p class="event-local">{{ event?.local }}</p>
            </ion-label>
          </ion-col>

          <ion-col size="3">
            <ion-icon name="people-outline"></ion-icon>
            <ion-label>
              <p class="event-local">{{ event.confirmed ? event.confirmed.length : '0' }}</p>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-card-content>

    </div>

    <ion-button class="interested-button" expand="block" color="{{buttonColor}}"
      (click)="checkInterested(event)">
      {{interestedText}}
      <ion-icon slot="end" name="{{interestedIcon}}"></ion-icon>
    </ion-button>
  </ion-card>

</ion-content>

<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button (click)="newEvent()">
    <ion-icon name="veg-add-light"></ion-icon>
  </ion-fab-button>
</ion-fab>
