.cardfooter {
  font-weight: 700;
  color: var(--ion-color-primary);
}

ion-col {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

ion-searchbar.custom-searchbar {
  margin-bottom: 18px;
}

ion-card {
  img {
    height: 180px;
  }

  div.event-buttons-container {
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 2;
    display: flex;
    gap: 8px;

    ion-button {
      margin: 0;
    }

    ion-button + ion-button {
      margin: 0;
    }
  }

  .event-title {
    margin: 4px 0 12px;
    text-align: left;
    text-transform: lowercase;
    font-weight: 800;
  }

  .event-info {
    ion-icon {
      font-size: 18px;
      margin-inline-end: 6px !important;
      color: var(--ion-color-primary);
    }
  }

  .interested-button {
    height: 46px;
    margin: 0 14px 14px;
  }
}

ion-content {
  --padding-bottom: 88px;
}
