.cardfooter {
    font-weight: 700;
    color: var(--ion-color-primary);
}

ion-col {
    margin: 0 auto;
    display: flex;
}

// ion-icon {
//     margin: 0;
//     padding-right: 6px;
//     font-size: 16px;
// }

// ion-button {
//     margin: 0;

//     ion-icon {
//         padding-left: 10px;
//         font-size: 18px;
//     }
// }


ion-searchbar.custom-searchbar {
    margin-bottom: 3vh;
}

ion-card {
    div.event-buttons-container {
        position: absolute;
        right: 0;

        ion-button {
            margin: 0;
        }

        ion-button+ion-button {
            margin: 10px;
        }
    }

    .event-title {
        margin: 15px 0;
        text-align: center;
    }

    .event-local {
        // text-align: center;
        // font-weight: 700;
    }

    .event-info {
        ion-icon {
            font-size: 20px;
            margin-inline-end: 8px !important;
        }
    }

    .interested-button {
        height: 45px;
        margin: 0 15px 15px;
    }   
}