<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="veg-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>novo evento</ion-title>
  </ion-toolbar>
</ion-header>

<div class="add-event-images"
  [ngStyle]="{'background-image': imageUrl ? 'url(' + imageUrl + ')' : 'url(../assets/images/default-events.png)'}">
  <ion-button shape="round" size="small" fill="solid" color="secondary" class="add-event-button"
    (click)="uploadImage()">
    <ion-icon slot="start" name="images-outline"></ion-icon>
    enviar imagem
  </ion-button>
</div>

<ion-content class="ion-padding">

  <ion-row>
    <ion-col size="auto">
      <ion-avatar>
        <img src="../assets/images/{{user.image ? user.image : 'default-user.png'}}">
      </ion-avatar>
    </ion-col>

    <ion-col class="second-column">
      <h4 class="event-organizer-title">{{user.name ? user.name : ''}}</h4>
      <h5 class="event-organizer-subtitle">organizador</h5>
    </ion-col>
  </ion-row>

  <form [formGroup]="eventGroup">

    <ion-item lines="none" *ngIf="organizations.length; else noOrg">
      <ion-select
        label="organização"
        labelPlacement="floating"
        interface="popover"
        formControlName="organization_id"
        (ionChange)="onOrganizationChange($event.detail.value)">
        <ion-select-option *ngFor="let org of organizations" [value]="org.id">{{ org.name }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ng-template #noOrg>
      <div class="org-empty">
        <p>você ainda não tem organização.</p>
        <ion-button expand="block" fill="outline" color="primary" (click)="openCreateOrganization()">
          criar organização
        </ion-button>
      </div>
    </ng-template>

    <ion-item lines="none">
      <ion-input type="text" formControlName="title" label="nome do evento" labelPlacement="floating"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-input type="text" formControlName="category" label="categoria" labelPlacement="floating"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-input type="text" formControlName="local" label="local" labelPlacement="floating"></ion-input>
    </ion-item>

    <div class="two-columns">
      <ion-item lines="none">
        <ion-input type="date" formControlName="startingDate" label="data de início" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input type="time" formControlName="startingHour" label="hora de início" labelPlacement="floating"></ion-input>
      </ion-item>
    </div>

    <ion-button expand="block" shape="round" color="secondary" class="add-ending-hour" *ngIf="!ending"
      (click)="ending = true">adicionar data e hora de término</ion-button>

    <div class="two-columns" *ngIf="ending">
      <ion-item lines="none">
        <ion-input type="date" formControlName="endingDate" label="data de término" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input type="time" formControlName="endingHour" label="hora de término" labelPlacement="floating"></ion-input>
        <ion-button fill="clear" slot="end" class="close-ending-hour" (click)="removeEnding()">
          <ion-icon name="close-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </div>

    <ion-item lines="none">
      <ion-textarea rows="6" formControlName="description" label="descrição do evento" labelPlacement="floating"></ion-textarea>
    </ion-item>

  </form>
</ion-content>

<ion-footer class="ion-padding">
  <ion-button expand="block" shape="round" type="submit" [disabled]="!eventGroup.valid || !organizations.length" (click)="addEvent()">
    novo evento
  </ion-button>
</ion-footer>
