<ion-content>

  <div class="vegan-logo">
    <img src="../assets/images/init/vegan-logo.gif">
  </div>
  

  <!-- <ion-slides [options]="slideOpts">
    <ion-slide class="initial-slide" *ngFor="let intro of introImg; let i = index">
      <img src="../assets/images/init/slide0{{i+1}}.png">
    </ion-slide>
  </ion-slides> -->
  
  <div class="app-padding">
    <ion-button expand="block" shape="round" color="primary" (click)="gotoLogin()">Sign In</ion-button>
    <ion-button expand="block" shape="round" color="primary" (click)="gotoSignUp()">Sign Up</ion-button>
  </div>

</ion-content>