ion-header,
ion-toolbar {
    padding-top: 0 !important;
    --padding-top: 0 !important;
}

ion-content {
    // --background: var(--ion-color-tertiary-tint);
    --background: linear-gradient(to bottom, var(--ion-color-primary), var(--ion-color-medium));
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.vegan-logo {
    // margin: 8vh auto;
    // width: 78%;
    width: 65%;
}

.app-padding {
    width: 100%;
    max-width: 300px;
}