ion-content {
    // --background: #8ad195;
    // --background: var(--ion-color-tertiary-tint);
    --background: linear-gradient(to bottom, var(--ion-color-medium), var(--ion-color-primary));
}

.vegan-logo {
    // position: absolute;
    // z-index: 100;
    // top: 40%;
    margin: 8vh auto;
    margin-top: 30vh;
    width: 78%;
}