<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeRecover()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>esqueceu sua senha?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3>informe o seu email de cadastro</h3>

  <form [formGroup]="recoverForm">
    <ion-item>
      <ion-input label="seu email de cadastro" labelPlacement="floating" type="email"
        formControlName="email"></ion-input>
    </ion-item>
  </form>
</ion-content>

<ion-footer class="ion-no-border ion-padding">
  <ion-button expand="block" (click)="recoverPassword()" [disabled]="recoverForm.invalid">Recuperar minha
    senha</ion-button>
</ion-footer>