<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="veg-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>nova receita</ion-title>
  </ion-toolbar>
</ion-header>

<div class="add-recipe-images"
  [ngStyle]="{'background-image': imageUrl ? 'url(' + imageUrl + ')' : 'url(../assets/images/default-events.png)'}">
  <ion-button shape="round" size="small" fill="solid" color="secondary" class="add-recipe-button"
    (click)="uploadImage()">
    <ion-icon slot="start" md="images"></ion-icon>
    enviar imagens
  </ion-button>
</div>

<ion-content class="ion-padding">

  <ion-row>
    <ion-col size="auto">
      <ion-avatar>
        <img src="../assets/images/{{user.image ? user.image : 'default-user.png'}}">
      </ion-avatar>
    </ion-col>

    <ion-col class="second-column">
      <h4 class="recipe-creator-title">{{user.name ? user.name : ''}}</h4>
      <h5 class="recipe-creator-subtitle">criador</h5>
    </ion-col>
  </ion-row>

  <form [formGroup]="recipeGroup">

    <!-- <div class="ion-padding"> -->
    <ion-item>
      <ion-label position="floating">nome da receita</ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">ingredientes</ion-label>
      <ion-input type="text" formControlName="ingredients"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">instruções</ion-label>
      <ion-textarea rows="7" formControlName="instructions"></ion-textarea>
    </ion-item>

    <div class="three-columns">
      <ion-item>
        <ion-label position="floating">tempo de cozimento</ion-label>
        <ion-input type="number" formControlName="cookTime"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">porções</ion-label>
        <ion-input type="number" formControlName="servings"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">calorias</ion-label>
        <ion-input type="number" formControlName="calories"></ion-input>
      </ion-item>
    </div>

    <!-- <ion-button expand="block" shape="round" type="submit" [disabled]="!recipeGroup.valid">nova receita</ion-button> -->

  </form>
</ion-content>

<ion-footer class="ion-padding">
  <ion-button expand="block" shape="round" type="submit" [disabled]="!recipeGroup.valid" (click)="addRecipe()">nova
    receita</ion-button>
</ion-footer>