.cardfooter {
    font-weight: 700;
    color: var(--ion-color-primary);
}

ion-col {
    margin: 0 auto;
    display: flex;
}

ion-icon {
    padding-right: 6px;
    font-size: 16px;
}

ion-button {
    margin: 0;
}

.card-title {
    padding-left: 10px;
    font-size: 1em;
    margin: auto 0;
}

.card-subtitle {
    font-size: 0.7em;
    margin: auto;
}

.recipe-title {
    text-align: center;
    font-weight: 700;
}