<ion-header>
  <ion-toolbar>
    <ion-title>recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-searchbar #recipesSearchbar placeholder="search recipes" class="custom-searchbar"
    (ionInput)="filterList($event)"></ion-searchbar>

  <app-card-layout [type]="'recipes'" [data]="filteredRecipes"></app-card-layout>

  <!-- <ion-card *ngFor="let recipe of filteredRecipes" (click)="openRecipe(recipe)">
    <ion-card-content class="ion-no-padding">
      <img src="../assets/images/{{recipe.image ? recipe.image : 'slider-default.png'}}">

      <ion-button [color]="recipe.favorited ? 'primary' : 'secondary'" (click)="favoriteRecipe(recipe)" expand="block"
        class="favorite-button">
        <ion-icon [name]="recipe.favorited ? 'star': 'star-outline'" color="light"></ion-icon>
        <span>{{recipe.favorited ? 'favorited': 'favorite'}}</span>
      </ion-button>

      <div>
        <h3 class="recipe-title"> {{ recipe?.title }} </h3>
      </div>
    </ion-card-content>

  </ion-card> -->

</ion-content>