<ion-content>

  <img class="register-bg" src="../assets/images/login-bg.png">

  <div class="app-padding">
    <h1 class="register-title">fill the fields</h1>
    <form [formGroup]="registerForm">
      <ion-item lines="none">
        <ion-label position="floating">e-mail</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="floating">name</ion-label>
        <ion-input formControlName="name" type="text" pattern="[a-zA-Z]+"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">password</ion-label>
        <ion-input formControlName="password" type="{{passwordType}}"></ion-input>
        <ion-icon slot="end" [name]="passwordIcon" (click)="toggleShow()"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label position="floating">birth date</ion-label>
        <!-- <ion-datetime presentation="date" max="2010-12-09" displayFormat="DD/MM/YYYY" formControlName="birth"
          placeholder="Birth Date" cancelText="Cancelar" doneText="Concluir">
        </ion-datetime> -->
        <ion-input formControlName="birth" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>which do you identify with?</ion-label>
        <ion-select interface="popover" formControlName="identify">
          <ion-select-option value="vegetarian">Vegetarian</ion-select-option>
          <ion-select-option value="vegan">Vegan</ion-select-option>
          <ion-select-option value="interested">Interested in the cause</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button (click)="register()" expand="block" color="primary" [disabled]="registerForm.invalid">register</ion-button>

      <p class="sign-in" (click)="goToLogin()">have an account? <span>sign in</span></p>
    </form>
  </div>

</ion-content>