<ion-content>

  <img class="register-bg" src="../assets/images/login-bg.png" alt="">

  <div class="app-padding">
    <p class="auth-kicker">faça parte</p>
    <h1 class="auth-title">criar conta</h1>

    <form [formGroup]="registerForm">
      <ion-item lines="none">
        <ion-input formControlName="email" type="email" label="e-mail" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input formControlName="name" type="text" label="nome" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input formControlName="password" type="{{passwordType}}" label="senha" labelPlacement="floating"></ion-input>
        <ion-icon slot="end" [name]="passwordIcon" (click)="toggleShow()"></ion-icon>
      </ion-item>

      <ion-item lines="none">
        <ion-input formControlName="birth" type="text" label="data de nascimento" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-select interface="popover" formControlName="identify" label="com o que você se identifica?" labelPlacement="floating">
          <ion-select-option value="vegetarian">vegetariano</ion-select-option>
          <ion-select-option value="vegan">vegano</ion-select-option>
          <ion-select-option value="interested">interessado na causa</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button (click)="register()" expand="block" color="primary" [disabled]="registerForm.invalid">cadastrar</ion-button>

      <p class="sign-in" (click)="goToLogin()">já tem uma conta? <span>entrar</span></p>
    </form>
  </div>

</ion-content>
