ion-card-header {
    ion-col {
        margin: 0 auto;
        display: flex;
    }

    .card-title {
        font-size: 1em;
        margin: auto 0;
    }

    .card-subtitle {
        font-size: 0.7em;
        margin: auto;
    }
}

ion-footer {
    font-weight: 700;
    color: var(--ion-color-primary);

    ion-icon {
        padding-right: 4px;
        font-size: 20px;
    }

    ion-label {
        font-size: 14px !important;
    }
}

ion-avatar {
    height: 100%;
}

ion-button {
    margin: 0;
}