<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="veg-arrow-back"></ion-icon>
      </ion-button>
      <ion-title>relatar um problema</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="reportGroup">
    <ion-item lines="none">
      <ion-label position="floating">qual problema você está tendo?</ion-label>
      <ion-select placeholder="selecione" interface="popover" formControlName="type">
        <ion-select-option value="bug">erro</ion-select-option>
        <ion-select-option value="performance-issue">desempenho</ion-select-option>
        <ion-select-option value="feature-request">sugestão</ion-select-option>
        <ion-select-option value="user-interface">interface</ion-select-option>
        <ion-select-option value="account-related">conta</ion-select-option>
        <ion-select-option value="payment-issues">pagamento</ion-select-option>
        <ion-select-option value="other">outro</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">descrição</ion-label>
      <ion-textarea formControlName="description" placeholder="conte o que aconteceu" type="text" rows="5"></ion-textarea>
    </ion-item>
  </form>

</ion-content>

<ion-footer class="ion-padding">
  <ion-button expand="block" color="primary" type="submit" (click)="sendReport()">enviar relato</ion-button>
</ion-footer>
