<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-title>{{recipe?.title}}</ion-title>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="favoriteRecipe(recipe)">
        <ion-icon slot="icon-only" [name]="recipe.favorited ? 'star': 'star-outline'" color="warning"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img *ngIf="recipe.images.length === 1" [src]="'../assets/images/' + (recipe.images[0] || 'slider-default.png')" />

  <ng-container *ngIf="recipe.images.length > 1">
    <swiper-container #swiper (slideChange)="changeSlide()" class="recipe-slider" pagination="true">
      <swiper-slide *ngFor="let image of recipe.images">
        <div class="recipe-slide-div">
          <div class="gradient-overlay"></div>
          <img [src]="'../assets/images/' + image" />
        </div>
      </swiper-slide>
    </swiper-container>
  </ng-container>

  <h2>{{recipe.title}}</h2>
  <h4>{{recipe.creator}} | {{recipe.registerDate}}</h4>

  <div class="ion-padding">

    <ion-row class="recipe-info">
      <ion-col>
        <ion-icon name="time-outline"></ion-icon>
        <span>{{recipe.cookTime}}</span>
      </ion-col>
      <ion-col>
        <ion-icon name="bar-chart-outline"></ion-icon>
        <span>{{recipe.calories}}</span>
      </ion-col>
      <ion-col>
        <ion-icon name="people-outline"></ion-icon>
        <span>{{recipe.servings}}</span>
      </ion-col>
    </ion-row>

    <!-- <ion-item>
      <p class="recipe-instructions"> {{ recipe.instructions }} </p>
    </ion-item> -->

    <ion-item>
      <h3>ingredientes</h3>
      <p class="recipe-instructions">{{ recipe.ingredients }}</p>
    </ion-item>

    <ion-item>
      <h3>instruções</h3>
      <!-- <p class="recipe-instructions">{{ recipe.instructions }}</p> -->
      <p [innerHTML]="recipe.instructions"></p>
    </ion-item>

  </div>

</ion-content>