.item .sc-ion-label-md-h {
    white-space: normal;
    background: var(--ion-color-light);
    padding: 10px;
    border-radius: 20px;
}

.comment-creator {
    font-size: 12px;
    font-weight: 600;
}

.comment-description {
    font-size: 11px;
}

ion-icon {
    font-size: 22px;
}

ion-button {
    margin: 0;
}

ion-input {
    font-size: 14px;
    background: var(--ion-color-light);
    border-radius: 20px;
    --padding-start: 15px;
}

ion-item {
    margin: 10px 0px;
}


