<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="veg-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="presentProfileActions()">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="profile-background">

    <!-- <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="presentProfileActions()">
          <ion-icon slot="icon-only" name="ellipsis-vertical" color="light"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar> -->

  </div>

  <div class="profile-picture">
    <img src="../assets/images/{{user.image ? user.image : 'default-user.png'}}">
  </div>

  <h3 class="user-name"> {{ user?.name }}</h3>
  <h5 class="user-username"> {{ user?.username }} </h5>
  <!-- <h5 class="user-description"> {{ user?.description }} </h5> -->

  <div class="info-container">
    <div>
      <h3 class="info-data"> {{ user?.following ? user.following.length : '0' }} </h3>
      <p class="info-title">seguindo</p>
    </div>

    <div>
      <h3 class="info-data"> {{ user?.followers ? user.followers.length : '0' }} </h3>
      <p class="info-title">seguidores</p>
    </div>

    <div>
      <h3 class="info-data"> {{ user?.trophies ? user.trophies.length : '0' }} </h3>
      <p class="info-title">troféus</p>
    </div>

  </div>

  <ion-button shape="round" color="primary" class="follow-user-button" fill="outline" (click)="followUser(user)">
    <ion-icon slot="icon-only" name="person-add"></ion-icon>
    seguir
  </ion-button>

  <div class="ion-padding">
    <h3 class="posts-title">interesses</h3>
    <ion-chip outline [color]="interest.color" *ngFor="let interest of user.interests">
      <ion-icon [name]="interest.icon"></ion-icon>
      <ion-label>{{ interest.description }}</ion-label>
    </ion-chip>
  </div>
</ion-content>