<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="veg-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>novo post</ion-title>

    <ion-buttons slot="end" class="publish-buttons">
      <ion-button shape="round" fill="solid" color="primary" (click)="publish()">
        publish
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-row>
    <ion-col size="auto">
      <ion-avatar>
        <img src="../assets/images/{{user.image ? user.image : 'default-user.png'}}">
      </ion-avatar>
    </ion-col>

    <ion-col class="second-column">
      <h4 class="user-title">{{user.name ? user.name : ''}}</h4>
    </ion-col>
  </ion-row>

  <form [formGroup]="postGroup">
    <ion-item>
      <ion-textarea rows="10" formControlName="description"></ion-textarea>
    </ion-item>
  </form>

</ion-content>