ion-header {
    ion-buttons.publish-buttons {
        ion-button {
            height: 35px;
            font-size: 14px;
            --padding-start: 20px;
            --padding-end: 20px;
        }
    }
}

ion-item {
    --background: transparent;
    margin-bottom: 1vh;
    border: 1px solid var(--ion-color-primary);
    border-radius: 6px;
}

ion-row {
    margin-bottom: 10px;

    ion-avatar {
        height: 48px;
        width: 48px;
        margin-right: 6px;
    }

    .second-column {
        margin: auto 0;

        h4.user-title {
            margin: auto;
            color: var(--ion-color-dark);
            font-weight: 700;
            font-size: 1.1em !important;
        }
    }
}