<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-label>Home</ion-label>
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="recipes">
      <ion-label>Receitas</ion-label>
      <ion-icon name="restaurant-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="events">
      <ion-label>Eventos</ion-label>
      <ion-icon name="calendar-number-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-label>Mapa</ion-label>
      <ion-icon name="map-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-label>Perfil</ion-label>
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>