<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="veg-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>editar perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="app-padding">

    <ion-progress-bar type="indeterminated" *ngIf="loading"></ion-progress-bar>

    <form [formGroup]="formGroup">

      <ion-item lines="none">
        <ion-label position="floating">nome</ion-label>
        <ion-input [disabled]="loading" formControlName="name" placeholder="escreva aqui" type="text"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="floating">usuário</ion-label>
        <ion-input [disabled]="loading" formControlName="username" placeholder="escreva aqui" type="text"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="floating">data de nascimento</ion-label>
        <ion-input formControlName="birth" placeholder="escreva aqui"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="floating">e-mail</ion-label>
        <ion-input [disabled]="loading" formControlName="email" placeholder="escreva aqui" type="email"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="floating">telefone</ion-label>
        <ion-input formControlName="phoneNumber" placeholder="escreva aqui" type="tel"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="floating">país</ion-label>
        <ion-input [disabled]="loading" formControlName="country" placeholder="escreva aqui" type="text"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="floating">cidade</ion-label>
        <ion-input [disabled]="loading" formControlName="city" placeholder="escreva aqui" type="text"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="floating">estado</ion-label>
        <ion-select [disabled]="loading" placeholder="selecione" interface="popover" formControlName="state">
          <ion-select-option *ngFor="let estado of estados" [value]="estado.EST_NOME">{{ estado.EST_NOME }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="floating">com o que você se identifica?</ion-label>
        <ion-select [disabled]="loading" placeholder="selecione" interface="popover" formControlName="identify">
          <ion-select-option value="vegetarian">vegetariano</ion-select-option>
          <ion-select-option value="vegan">vegano</ion-select-option>
          <ion-select-option value="interested">interessado na causa</ion-select-option>
        </ion-select>
      </ion-item>

      <p class="report-problems" (click)="reportProblems()">
        <ion-icon slot="start" name="alert-circle"></ion-icon>
        relatar um problema
      </p>

      <div class="interests">
        <ion-chip outline [color]="interest.color" *ngFor="let interest of user.interests">
          <ion-icon [name]="interest.icon"></ion-icon>
          <ion-label>{{ interest.description }}</ion-label>
          <ion-icon name="close-circle" (click)="deleteInterest(interest)"></ion-icon>
        </ion-chip>

        <ion-chip color="primary" (click)="openInterests()">
          <ion-icon *ngIf="user.interests" name="create"></ion-icon>
          <ion-label *ngIf="user.interests">editar interesses</ion-label>
          <ion-icon *ngIf="!user.interests" name="add"></ion-icon>
          <ion-label *ngIf="!user.interests">adicionar interesses</ion-label>
        </ion-chip>
      </div>

      <div class="footer-buttons">
        <ion-button (click)="saveData()" fill="solid" size="default" expand="block" color="primary">salvar
        </ion-button>
        <ion-button class="logout-account" (click)="logout()" size="default" expand="block" color="medium">sair
        </ion-button>
        <p class="delete-account" (click)="deleteAccount()">excluir conta</p>
        <ion-progress-bar type="indeterminated" *ngIf="loading"></ion-progress-bar>
      </div>

    </form>

  </div>

</ion-content>
