form {
    ion-item {
        --background: transparent;
        margin-bottom: 1vh;
        border: 1px solid var(--ion-color-primary);
        border-radius: 6px;
    }
}

.logout-account {
    margin-bottom: 40px;
}

.report-problems {
    font-size: 12px;
    font-weight: 700;
    margin: 20px 5px;
    display: flex;
    color: var(--ion-color-danger);

    ion-icon {
        margin-right: 5px;
        font-size: 14px;
    }
}

.delete-account {
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    color: var(--ion-color-danger);
}

.footer-buttons {
    margin-top: 40px;
}


ion-col {
    display: grid;
}

.change-picture {
    margin: auto 0;
    font-size: 13px;
}

.interests {
    margin: 30px 0;
}