<ion-segment [(ngModel)]="layoutType">
  <ion-segment-button value="list">
    <ion-icon name="list"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="grid">
    <ion-icon name="grid"></ion-icon>
  </ion-segment-button>
</ion-segment>

<div [ngSwitch]="layoutType">

  <div *ngSwitchCase="'list'">
    <div *ngIf="type === 'recipes'">

      <ion-card *ngFor="let recipe of data" (click)="openRecipe(recipe)" class="recipe-card">
        <ion-card-content class="ion-no-padding">
          <img src="../assets/images/{{recipe.image ? recipe.image : 'slider-default.png'}}">

          <ion-button [color]="recipe.favorited ? 'primary' : 'secondary'" (click)="favoriteRecipe(recipe)"
            expand="block" class="favorite-button">
            <ion-icon [name]="recipe.favorited ? 'star': 'star-outline'" color="light"></ion-icon>
            <span>{{recipe.favorited ? 'favorited': 'favorite'}}</span>
          </ion-button>

          <div>
            <h3 class="recipe-title"> {{ recipe?.title }} </h3>
          </div>
        </ion-card-content>

      </ion-card>
    </div>

    <div *ngIf="type === 'events'">
      <ion-card *ngFor="let event of data" (click)="openEvent(event)" class="event-card">
        <ion-card-header class="ion-no-padding">
          <img src="../assets/images/{{event.image ? event.image : 'slider-default.png'}}">
        </ion-card-header>

        <ion-card-content>
          <p class="event-title"> {{ event?.title }} </p>

          <ion-item lines="none">
            <ion-icon name="location-outline" slot="start"></ion-icon>
            <ion-label>
              <p class="event-local"> {{ event?.local }} </p>
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-icon name="people-outline" slot="start"></ion-icon>
            <ion-label>
              <p class="event-local"> {{ event.confirmed? event.confirmed.length : '0' }} Confirmed</p>
            </ion-label>
          </ion-item>
        </ion-card-content>

        <!-- <ion-button class="interested-button" expand="block" shape="round" color="{{buttonColor}}"
          (click)="checkInterested(event)">
          {{interestedText}}
          <ion-icon slot="end" name="{{interestedIcon}}"></ion-icon>
        </ion-button> -->
      </ion-card>
    </div>
  </div>

  <div *ngSwitchCase="'grid'">
    <div *ngIf="type === 'recipes'">
      <ion-row>
        <ion-col size="6" *ngFor="let recipe of data">
          <ion-card (click)="openRecipe(recipe)" class="recipe-card">
            <ion-card-content class="ion-no-padding">
              <img src="../assets/images/{{recipe.image ? recipe.image : 'slider-default.png'}}">

              <ion-button [color]="recipe.favorited ? 'primary' : 'secondary'" (click)="favoriteRecipe(recipe)"
                expand="block" class="favorite-button">
                <ion-icon [name]="recipe.favorited ? 'star': 'star-outline'" color="light"></ion-icon>
              </ion-button>

              <div>
                <h3 class="recipe-title"> {{ recipe?.title }} </h3>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="type === 'events'">
      <ion-row>
        <ion-col size="6" *ngFor="let event of data">
          <ion-card (click)="openEvent(event)" class="event-card">
            <ion-card-header class="ion-no-padding">
              <img src="../assets/images/{{event.image ? event.image : 'slider-default.png'}}">
            </ion-card-header>

            <ion-card-content>
              <p class="event-title"> {{ event?.title }} </p>

              <ion-item lines="none">
                <ion-icon name="location-outline" slot="start"></ion-icon>
                <ion-label>
                  <p class="event-local"> {{ event?.local }} </p>
                </ion-label>
              </ion-item>

              <ion-item lines="none">
                <ion-icon name="people-outline" slot="start"></ion-icon>
                <ion-label>
                  <p class="event-local"> {{ event.confirmed? event.confirmed.length : '0' }}</p>
                </ion-label>
              </ion-item>
            </ion-card-content>

            <!-- <ion-button class="interested-button" expand="block" shape="round" color="{{buttonColor}}"
          (click)="checkInterested(event)">
          {{interestedText}}
          <ion-icon slot="end" name="{{interestedIcon}}"></ion-icon>
        </ion-button> -->
          </ion-card>
        </ion-col>
      </ion-row>
    </div>

  </div>

</div>