<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" class="search-page">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-searchbar [(ngModel)]="pesquisa" (ionChange)="filtrar(pesquisa)" placeholder="search name or username"
      class="custom-searchbar" color="medium" animated></ion-searchbar>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="!searching && recentSearch.length > 0">
    <ion-list-header>recent search</ion-list-header>
    <ion-item *ngFor="let user of recentSearch; let i = index" (click)="openUserProfile(user)">
      <ion-avatar item-start>
        <img src="../assets/images/{{user.image ? user.image : 'default-user.png'}}">
      </ion-avatar>

      <div class="user-info">
        <h3 class="user-name">{{ user.first_name }}</h3>
        <p class="user-username">{{ user.username }}</p>
      </div>

      <ion-icon name="close-outline" size="small" slot="end" (click)="deleteRecent(user, i)"></ion-icon>

    </ion-item>
  </ion-list>

  <ion-list *ngIf="searching">
    <ion-item *ngFor="let user of listaFiltrada" (click)="openUserProfile(user)">
      <ion-avatar item-start>
        <img src="../assets/images/{{user.image ? user.image : 'default-user.png'}}">
      </ion-avatar>

      <div class="user-info">
        <h3 class="user-name">{{ user.first_name }}</h3>
        <p class="user-username">{{ user.username }}</p>
      </div>

      <ion-buttons slot="end">
        <ion-button shape="round" color="primary" class="follow-user-button" fill="outline" (click)="followUser(user)">
          <ion-icon slot="icon-only" name="person-add"></ion-icon>
          follow
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

</ion-content>