.profile-background {
    height: 15vh;
    background-color: var(--ion-color-primary);
}

ion-slides {
    max-height: 90%;
}

.card-subtitle {
    font-size: 0.7em;
    margin: auto;
}

ion-icon {
    padding-right: 6px;
    font-size: 16px;
}

.posts-title {
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
}

.recipes-title {
    margin: 10px;
    font-size: 12px;
    font-weight: 500;
}

.profile-picture {
    width: 34%;
    height: auto;
    margin: 0 auto;
    margin-top: -6vh;

    >img {
        border-radius: 20%;
        filter: drop-shadow(0 0 10px var(--ion-color-primary));
    }
}

ion-button {
    margin: 0;
    height: 2em;
}

.user-name {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.user-description {
    text-align: center;
    font-size: 11px;
    margin-top: 0;
    margin-bottom: 15px;
    color: var(--ion-color-secondary);
}

.info-title {
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    color: var(--ion-color-primary);
}

.info-data {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.post-text {
        font-size: 11px;
}
