.profile-background {
    height: 15vh;
    background-color: var(--ion-color-primary);
}

ion-slides {
    max-height: 90%;
}

.card-subtitle {
    font-size: 0.7em;
    margin: auto;
}

.posts-title {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 8px;
}

.recipes-title {
    margin: 10px;
    font-size: 12px;
    font-weight: 500;
}

.profile-picture {
    width: 34%;
    height: auto;
    margin: 0 auto;
    margin-top: -8vh;

    >img {
        border-radius: 20%;
    }
}

h1.user-name {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

h3.user-description {
    text-align: center;
    font-size: 11px;
    margin: 0;
    color: var(--ion-color-secondary);
}

.post-text {
    font-size: 11px;
}

.info-container {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: 3vh auto;
    text-align: center;

    .info-data {
        font-size: 18px;
        font-weight: 700;
        margin: 0;
    }

    .info-title {
        font-size: 12px;
        font-weight: 500;
        margin: 0;
        color: var(--ion-color-primary);
    }
}