<ion-content>
  <div class="profile-background"
    [ngStyle]="{'background-image': bgImageUrl ? 'url(' + bgImageUrl + ')' : 'url(../assets/images/background-default.png)'}">

    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="openShare()">
          <ion-icon slot="icon-only" name="share-social-outline" color="light"></ion-icon>
        </ion-button>

        <ion-button (click)="openSettings()">
          <ion-icon slot="icon-only" name="settings-outline" color="light"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

    <ion-toolbar class="edit-bg-toolbar">
      <ion-buttons slot="end">
        <ion-button shape="round" size="small" fill="solid" color="secondary" class="teste edit-image-button"
          (click)="changeImageActions('background')">
          <ion-icon slot="icon-only" md="camera" color="primary"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>

  <div class="profile-picture">
    <img src="../assets/images/{{user.image ? user.image : 'default-user.png'}}">

    <ion-button shape="round" size="small" fill="solid" color="secondary" class="edit-image-button"
      (click)="changeImageActions('profile')">
      <ion-icon slot="icon-only" md="camera" color="primary"></ion-icon>
    </ion-button>
  </div>

  <!-- header="Ação" -->

  <h3 class="user-name"> {{ user?.name }} </h3>
  <h5 class="user-username"> {{ user?.username }} </h5>
  <!-- <h5 class="user-description"> {{ user?.description }} </h5> -->

  <div class="info-container">
    <div>
      <h3 class="info-data"> {{ user?.friends ? user.friends.length : '0' }} </h3>
      <p class="info-title"> Friends </p>
    </div>

    <div>
      <h3 class="info-data"> {{ user?.trophies ? user.trophies.length : '0' }} </h3>
      <p class="info-title"> Trophies </p>
    </div>

    <div>
      <h3 class="info-data"> {{ user?.posts ? user.posts.length : '0' }} </h3>
      <p class="info-title"> Posts </p>
    </div>
  </div>

  <ion-segment [(ngModel)]="type" class="profile-segment">
    <ion-segment-button value="posts">
      <ion-label>posts</ion-label>
    </ion-segment-button>
    <ion-segment-button value="recipes">
      <ion-label>recipes</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container [ngSwitch]="type">
    <!-- <ion-list *ngSwitchCase="'posts'">
      <ion-item>
        <ion-label>
          Este é o conteúdo dos posts.
        </ion-label>
      </ion-item>
    </ion-list> -->

    <div *ngSwitchCase="'posts'" class="ion-padding">
      <ion-card *ngFor="let post of user.posts" class="post-card">
        <ion-card-header>
          <ion-row>
            <ion-col size="2">
              <ion-avatar>
                <img src="../assets/images/{{post.creator_image ? post.creator_image : 'default-user.png'}}">
              </ion-avatar>
            </ion-col>

            <ion-col size="9" class="second-column">
              <h4 class="card-title">{{post.creator ? post.creator : ''}}</h4>
              <h5 class="card-subtitle">{{post.registerDate ? post.registerDate : '--/--/----'}}</h5>
            </ion-col>

            <ion-col size="1">
              <ion-icon name="ellipsis-vertical" class="post-options" (click)="presentPostActions(post)"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-header>

        <ion-card-content>
          <p [innerHTML]="post.text">
            {{ post.text? excerptText(post.text) : '' }}...</p>
          <img src="../assets/images/{{post.image}}" *ngIf="post.image">
        </ion-card-content>

        <ion-footer>
          <ion-button fill="clear" (click)="likePost(post)">
            <ion-icon *ngIf="post.liked" name="heart"></ion-icon>
            <ion-icon *ngIf="!post.liked" name="heart-outline"></ion-icon>
            <ion-label>{{post.likes? post.likes.length : '0'}}</ion-label>
          </ion-button>

          <ion-button fill="clear" (click)="openComments(post)">
            <ion-icon name="chatbox-ellipses-outline"></ion-icon>
            <ion-label>{{post.comments? post.comments.length : '0'}}</ion-label>
          </ion-button>

          <ion-button fill="clear" (click)="repostPost(post)">
            <ion-icon name="repeat-outline"></ion-icon>
          </ion-button>
        </ion-footer>
      </ion-card>
    </div>

    <div *ngSwitchCase="'recipes'" class="ion-padding">
      <!-- <ion-card>
      <ion-card-header class="ion-no-padding">
        <img src="../assets/images/{{recipe.image}}" *ngIf="recipe.image">
      </ion-card-header>

      <ion-card-content>
        <p class="recipes-title"> {{ recipe?.title }} </p>
      </ion-card-content>

      <ion-row class="cardfooter">
        <ion-col size="5">
          <ion-button fill="clear">
            <ion-icon *ngIf="recipe.liked" name="heart"></ion-icon>
            <ion-icon *ngIf="!recipe.liked" name="heart-outline"></ion-icon>
            <ion-label>{{recipe.likes? recipe.likes.length : '0'}}</ion-label>
          </ion-button>
        </ion-col>
        <ion-col size="5" offset="2">
          <ion-button fill="clear">
            <ion-icon name="chatbox-ellipses-outline"></ion-icon>
            <ion-label>{{recipe.comments? recipe.comments.length : '0'}}</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-card> -->
    </div>
  </ng-container>


  <!-- <div class="ion-padding">
    <h3 class="posts-title">Interests</h3>
    <ion-chip outline [color]="interest.color" *ngFor="let interest of user.interests">
      <ion-icon [name]="interest.icon"></ion-icon>
      <ion-label>{{ interest.description }}</ion-label>
    </ion-chip>
  </div> -->

</ion-content>