.ion-padding {
    top: 15%;
}

ion-item {
    --background: transparent;
    border: 1px solid var(--ion-color-secondary);
    border-radius: 6px;
}

.rating-decoration {
    width: 65%;
    margin: 0 auto;
    display: block;
}

.rating-title {
    text-align: center;
    // font-size: 20px;
    margin-top: 20px;
}

.rating-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    ion-button+ion-button {
        margin-top: 0;
    }

    ion-button {
        ion-icon {
            font-size: 30px;
        }
    }
}

.rating-info {
    p {
        text-align: center;
        margin-top: 6vh;
        font-weight: 700;
    }
}

ion-button.send-button {
    margin-top: 2vh;
}