<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="veg-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>avaliação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <img src="assets/images/plants-decoration.png" class="rating-decoration">

  <div class="rating-title">
    <h2>como você avalia <br>
      sua experiência no app?</h2>
  </div>

  <div class="rating-buttons">
    <ion-button fill="clear" (click)="rate(1)">
      <ion-icon name="star" [color]="rating >= 1 ? 'warning' : 'medium'"></ion-icon>
    </ion-button>
  
    <ion-button fill="clear" (click)="rate(2)">
      <ion-icon name="star" [color]="rating >= 2 ? 'warning' : 'medium'"></ion-icon>
    </ion-button>
  
    <ion-button fill="clear" (click)="rate(3)">
      <ion-icon name="star" [color]="rating >= 3 ? 'warning' : 'medium'"></ion-icon>
    </ion-button>
  
    <ion-button fill="clear" (click)="rate(4)">
      <ion-icon name="star" [color]="rating >= 4 ? 'warning' : 'medium'"></ion-icon>
    </ion-button>
  
    <ion-button fill="clear" (click)="rate(5)">
      <ion-icon name="star" [color]="rating >= 5 ? 'warning' : 'medium'"></ion-icon>
    </ion-button>
  </div>
  

  <div class="rating-info">

    <div *ngIf="rating <= 3 && rating > 0">
      <form [formGroup]="ratingGroup">
        <ion-item lines="none">
          <ion-textarea formControlName="description" rows="4" fill="outline"
            placeholder="o que podemos melhorar?"></ion-textarea>
        </ion-item>

        <ion-button expand="block" color="primary" class="send-button" type="submit" [disabled]="ratingGroup.invalid" (click)="send()">enviar</ion-button>
      </form>
    </div>

    <div *ngIf="rating > 3">
      <p>o que você mais gosta no app?</p>

      <ion-chip *ngFor="let chip of chips" (click)="toggleChip(chip.slug)" [color]="selected.includes(chip.slug) ? 'primary' : 'medium'">
        <ion-label>{{chip.title}}</ion-label>
        <ion-icon name="checkmark-circle" *ngIf="selected.includes(chip.slug)"></ion-icon>
      </ion-chip>

      <ion-button expand="block" color="primary" class="send-button" type="submit" [disabled]="selected.length === 0" (click)="send()">enviar</ion-button>
    </div>

  </div>

</ion-content>