.ion-padding {
  top: 8%;
}

.rating-decoration {
  width: 58%;
  margin: 0 auto;
  display: block;
}

.rating-title {
  text-align: center;
  margin-top: 16px;
}

.rating-buttons {
  display: flex;
  justify-content: center;
  margin-top: 12px;

  ion-button + ion-button {
    margin-top: 0;
  }

  ion-button {
    height: 48px;

    ion-icon {
      font-size: 30px;
    }
  }
}

.rating-info {
  p {
    text-align: center;
    margin-top: 4vh;
    font-weight: 700;
    text-transform: lowercase;
  }
}

ion-button.send-button {
  margin-top: 20px;
}

ion-chip {
  text-transform: lowercase;
  font-weight: 700;
}
